#d {
  cursor: pointer;
  margin-right: 16;
  float: right
}
dt {
  display: flex;
  padding: .5 1;
  text-indent: 0
}
b {
  align-content: center;
  text-align: center;
  width: 28;
  font-size: 20
}
p {
  align-self: center;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 18 0;
  margin: 0 6;
  line-height: 20px;
  outline: 0
}
a {
  font-size: 12;
  font-weight: 400;
  color: #b9d
}
body {
  font-size: 14;
  font-weight: 600;
  color: #ddd;
  font-feature-settings: "palt";
  font-family: menlo,consolas,sans-serif;
  width: min(100%,1080px);
  line-height: 3;
  text-indent: 8;
  margin: 0 auto;
  user-select: none;
  background-color: #000
}